.card {
    width: 300px;
    
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px;
    padding: 20px;
    display: inline-block;
}
.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}
.card h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}
.card p {
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
}

i{
    color: dodgerblue;
    font-size: 20px;
    
}